exportPattern("^[^\\.]")
S3method(print,bson)
useDynLib(mongolite,R_mongo_init)
useDynLib(mongolite,R_mongo_connect)
useDynLib(mongolite,R_mongo_collection_drop)
useDynLib(mongolite,R_mongo_collection_name)
useDynLib(mongolite,R_mongo_collection_count)
useDynLib(mongolite,R_json_to_bson)
useDynLib(mongolite,R_bson_to_json)
